<!--<!DOCTYPE html>-->

<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Projekt aukcyjny</title>-->
<!--</head>-->
<!--<body>-->

<!--Strona główna-->

<!--<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>-->


<!--&lt;!&ndash;-->
<!--<span sec:authorize="isAuthenticated()">-->
                <!--| Logged user: <span sec:authentication="username"></span> |-->
                <!--Roles: <span sec:authentication="principal.authorities"></span> |-->
                <!--<a th:href="@{/logout}">Sign Out</a>-->
            <!--</span>-->
<!--&ndash;&gt;-->


<!--<form th:action="@{/logout}" method="post">-->
    <!--<input type="submit" value="wyloguj"/>-->
<!--</form>-->


<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Portal aukcyjny</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css\login.css" type="text/css" />

    <div th:replace="header :: header-css"/>
</head>
<body>



<div th:replace="header :: header"/>



<div class="wrapper">

    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <!--<div th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</div>-->
    <!--<p class="info" th:text="${userRegisteredCorrectly}"></p>-->
    <!--<div id="formContent">-->
        <!--<div class="loginTitle" >Login</div>-->
    <!--</div>-->
</div>

<!--<form th:action="@{/logout}" method="post">-->
    <!--<input type="submit" value="wyloguj"/>-->
<!--</form>-->

</body>
</html>